<li class="acl-write separator"></li>
<li class="acl-write superscript">
  <a title="superscript" class="grouped-left">
    <span class="buttonicon"></span>
  </a>
</li>
<style>

  .superscript{
    font-family:font-awesome;
  }

  .superscript .buttonicon {
    top:0px!important;
  }

  .superscript .buttonicon:before{
    content:"\e819";
  }

</style>

